.whatsappImage20240516At1 {
    height: 135px;
    width: 228px;
    position: relative;
    object-fit: cover;
  }
  .ourWork,
  .services {
    display: inline-block;
  }
  .services {
    text-decoration: none;
    position: relative;
    font-weight: 600;
    color: inherit;
    min-width: 102px;
  }
  .ourWork {
    min-width: 107px;
    white-space: nowrap;
  }
  .aboutUs,
  .ourWork,
  .testimonials {
    text-decoration: none;
    position: relative;
    font-weight: 600;
    color: inherit;
  }
  .aboutUs {
    display: inline-block;
    min-width: 105px;
    white-space: nowrap;
  }
  .frameContainer,
  .servicesParent {
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .servicesParent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .frameContainer {
    width: 623px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-34xl) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frameChild {
    align-self: stretch;
    height: 48px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .frameDiv,
  .frameWrapper,
  .whatsappImage20240516At1Parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameDiv {
    width: 169px;
    flex-direction: column;
    padding: var(--padding-24xl) 0 0;
    box-sizing: border-box;
  }
  .frameWrapper,
  .whatsappImage20240516At1Parent {
    flex-direction: row;
    max-width: 100%;
  }
  .whatsappImage20240516At1Parent {
    flex: 1;
    gap: var(--gap-43xl);
  }
  .frameWrapper {
    align-self: stretch;
    padding: 0 var(--padding-49xl);
    box-sizing: border-box;
  }
  .frameItem {
    height: 496px;
    width: 1280px;
    position: relative;
    background-color: var(--color-antiquewhite);
    display: none;
    max-width: 100%;
  }
  .frameInner {
    height: 15px;
    width: 145px;
    position: relative;
    z-index: 1;
  }
  .frameGroup,
  .rectangleParent {
    align-self: stretch;
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangleParent {
    flex: 1;
    background-color: var(--color-antiquewhite);
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: var(--padding-2xl) var(--padding-xl);
  }
  .frameGroup {
    height: 679px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-29xl);
  }
  .ourClients {
    margin: 0;
    position: relative;
    font-size: 64px;
    font-weight: 600;
    font-family: var(--font-inter);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .mainGrid{
    height: 400px;
    width: 1500px;
  }
  .retailAndOverseas {
    position: relative;
    font-family: var(--font-inter);
    font-weight: 300;
    font-size: 24px;
  }
  .retailAndOverseasClientsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-6xl);
    font-size: var(--font-size-5xl);
  }
  .frameWrapper1,
  .ourClientsParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frameWrapper1 {
    width: 1263px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-base);
    box-sizing: border-box;
    font-size: var(--font-size-45xl);
    font-family: var(--font-inter);
  }
  .logo,
  .logo1,
  .logo2,
  .logo3,
  .logo4 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 97px;
  }
  .frameWrapper2,
  .logoParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .logoParent {
    width: 1400px;
    padding-top: 30px;
    justify-content: space-between;
    gap: var(--gap-xl);
    
  }
  .frameWrapper2 {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-2xl) 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .logo5,
  .logo6,
  .logo7,
  .logo8 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 97px;
  }
  .frameParent,
  .frameWrapper3,
  .logoGroup {
    display: flex;
    
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .logoParent,
.logoGroup {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: center;
  gap: 150px; /* Add space between logos */
}
.logoParent img,
.logoGroup img {
  width: 117px; /* Adjust as needed */
  height: 70px;
  margin: 8px; /* Add margin to separate logos */
  
}
  .logoGroup {
    width: 1000px;
    justify-content: space-between;
    /* gap: var(--gap-xl); */
    gap: 150px;
  }
  .frameParent,
  .frameWrapper3 {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .frameParent {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 var(--padding-168xl);
    gap: var(--gap-37xl);
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-sunflower);
  }
  @media screen and (max-width: 1200px) {
    .whatsappImage20240516At1Parent {
      gap: var(--gap-12xl);
    }
    .frameParent {
      padding-bottom: var(--padding-103xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .frameContainer {
      display: none;
    }
    .ourClients {
      font-size: var(--font-size-32xl);
    }
    .logo,
    .logo1,
    .logo2,
    .logo3,
    .logo4,
    .logo5,
    .logo6,
    .logo7,
    .logo8 {
      font-size: var(--font-size-13xl);
    }
  }
  @media screen and (max-width: 750px) {
    .whatsappImage20240516At1Parent {
      gap: var(--gap-mini);
    }
    .frameWrapper {
      padding-left: var(--padding-15xl);
      padding-right: var(--padding-15xl);
      box-sizing: border-box;
    }
    .frameGroup {
      padding-bottom: var(--padding-12xl);
      box-sizing: border-box;
    }
    .logoGroup,
    .logoParent {
      flex-wrap: wrap;
    }
    .frameParent {
      gap: var(--gap-9xl);
      padding-bottom: var(--padding-60xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .ourClients {
      font-size: var(--font-size-19xl);
    }
    .retailAndOverseas {
      font-size: var(--font-size-lgi);
    }
    .logo,
    .logo1,
    .logo2,
    .logo3,
    .logo4,
    .logo5,
    .logo6,
    .logo7,
    .logo8 {
      font-size: var(--font-size-5xl);
    }
  }
  