* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

.css-1sjhuv5-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    
     max-height:none !important;
     /* height: 100vh !important; */
     top: 30px !important;
     bottom: 30px !important;
    overflow:  hidden !important;
    padding: 5px;
    border: '2px solid red' !important;
     /* max-width:calc(100% - 55px) !important; */
 
  
}




/* .our-work{
  background-image: url('/our-work-background-image.svg');
  background-size: cover;
  background-position: center;
  background-color:#FFF6E7;;
}

.our-service{
  background-image: url('/our-services-background.svg');
  background-size: cover;
  background-position: center;
  background-color: #FFF6E7;
} */



@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottomMobile {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInFromLeft 2s ease-out forwards;
}

.fade-in-bottom {
  animation: fadeInFromBottom 2s ease-out forwards;
}

.fade-in-right {
  animation: fadeInFromRight 2s ease-out forwards;
}



.underline-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: #000;
  transition: width 0.3s;
  left: 0;
  bottom: -5px;
}

.underline-link:hover::after {
  width: 100%;
}

.underline-link.active::after {
  width: 100%;
}

.carousel {
  display: 'flex';
  flex-direction: "column";
  gap: '10px';
  height: 100% !important;

}

.css-1sjhuv5-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {

  top: 20px !important;
}



@media only screen and (max-width: 600px) {
.carousel .slide img.carousal-img-custom {
  /* height: 85vh !important; */
  height: auto !important;
  
}

 .ourwork-img{
  width: 100%;
  border-radius: 10px;
} 

.our-image{
  width: 200px;
  height: 90px;
}

.roop-kala-img {
  display: none;
}

.roopmilan-img {
  display: none;
}

.mobile-img {
object-fit: contain;
object-position: center;
}
}



@media only screen and (min-width: 620px) {
  .carousel .slide img.carousal-img-custom {
    height: 85vh !important;
  }

 .ourwork-img{ 
  
  width: 70% !important;

 }

 
  .our-image{
    width: 180px;
    height: 80px;

  }

  
  
}


.carousel-root {
  height: 100% !important;
}


.carousel .control-dots .dot {
  background: #A5A5A5 !important;
  /* Change this to your desired color */
  box-shadow: none !important;
  margin: 0 4px !important;
  /* margin-top: 30px !important; */
}

.carousel .control-dots .dot.selected {
  background: #282828;
  /* Change this to your desired color for the selected dot */
  box-shadow: none !important;
  width: 30px;
  border-radius: 20px;

}

