* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.carousel{
    display: 'flex';
    flex-direction: "column";
    gap:'10px';
  height: 100% !important;

}

.carousel .slide img.carousal-img-custom {
  height: 85vh !important;
}

.carousel-root {
  height: 100% !important;
}


.carousel .control-dots .dot {
    background: #A5A5A5 !important;  /* Change this to your desired color */
    box-shadow:none !important;
    margin: 0 4px !important;
    /* margin-top: 30px !important; */
  }

  .carousel .control-dots .dot.selected {
    background: #282828;  /* Change this to your desired color for the selected dot */
    box-shadow:none !important;

    width: 30px;
    border-radius: 20px;

  }