* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}


.our-work{
  background-image: url('/our-work-background-image.svg');
  background-size: cover;
  background-position: center;
}

.our-service{
  background-image: url('/our-services-background.svg');
  background-size: cover;
  background-position: center;

}

/* 
.underline-link{
  position: relative;
  display: inline-block;
}

.underline-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000; /* Optional: Match link color */
/* visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
} */

/* .underline-link:hover::after,
.underline-link.active::after {
  visibility: visible;
  transform: scaleX(1);
}  */

.underline-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: #000;
  transition: width 0.3s;
  left: 0;
  bottom: -5px;
}

.underline-link:hover::after {
  width: 100%;
}

.underline-link.active::after {
  width: 100%;
}

.carousel {
  display: 'flex';
  flex-direction: "column";
  gap: '10px';
  height: 100% !important;

}

.css-1sjhuv5-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {

  top: 20px !important;
}



@media only screen and (max-width: 600px) {
  .carousel .slide img.carousal-img-custom {
    /* height: 85vh !important; */
    height: auto !important;
    
  }
  
   .ourwork-img{
    width: 100%;
    border-radius: 10px;
  } 

  .our-image{
    width: 70px;
    height: 50px;
  }

  .roop-kala-img {
    display: none;
  }

  .roopmilan-img {
    display: none;
  }
}



@media only screen and (min-width: 620px) {
  .carousel .slide img.carousal-img-custom {
    height: 85vh !important;
  }

 .ourwork-img{ 
  
  width: 70% !important;

 }

 
  .our-image{
    width: 180px;
    height: 80px;

  }

  
  
}


.carousel-root {
  height: 100% !important;
}


.carousel .control-dots .dot {
  background: #A5A5A5 !important;
  /* Change this to your desired color */
  box-shadow: none !important;
  margin: 0 4px !important;
  /* margin-top: 30px !important; */
}

.carousel .control-dots .dot.selected {
  background: #282828;
  /* Change this to your desired color for the selected dot */
  box-shadow: none !important;
  width: 30px;
  border-radius: 20px;

}




.mobile-img {
  object-fit: contain;
  object-position: center;
}