.slider-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
}

.slide img {
  max-height: 80px;
  max-width: 100%;
}

.our_image {
  max-height: 90px;
  max-width: 200px;
  padding-left: 25vw;
}
.roopmilan_img {
  display: none;
  padding-left: 0vw;
}
.somaiya_img{
  padding-left: 18vw;
  padding-right: 18vw;
}
.zepair_img{
  padding-left: 16vw;
  padding-right: 16vw;
}
.ASMACS_img{
  padding-left: 27vw;
  padding-right: 27vw;
}
.dhaid_travels_img{
  padding-left: 0vw;
}
.awwbaby_img{
  padding-left: 15vw;
  padding-right: 15vw;
}
.tradesmen_img{
  padding-left: 10vw;
  padding-right: 10vw;
}
.titbit_img{
  padding-left: 28vw;
  padding-right: 28vw;
}
.adenwal_img{
  padding-left: 20vw;
}
.digi1_img{
  padding-left: 26vw;
}
.lg_img{
  padding-left: 37vw;
}
.saucy_img{
  padding-left: 40vw;
}

.roopkala_img{
  padding-left: 35vw;
}